body{
    padding: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
    background-color:#8BB9E7;
    padding-top:0px;
}
header{
    padding-top: 20px;
    margin-left: 10px;
    padding-left: 20px;
}

main{
    margin: 0 auto;
}
label{
    padding-left: 5px;
}
input,textarea,select{
    width: 30%;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.test{
    width: auto;
    height: 10px;
}
.registerbtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 10px 20px 200px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}
.ErrorBox{
    border-style: none;
    background-color:#8BB9E7;
}
